@model Equipe

@{
    ViewData["Title"] = "Equipe";
}

<link rel="stylesheet" href="~/css/equipes.css">
<main>

        <section class="container-grid cadastro-equipes">
            
            
            <form action="" class="frm-cad-equipe" method="post" >
                <div class="cadequipe-titulo">
                    <h1>Cadastro de Equipes</h1>
                    <hr>
                </div>

                <input class="campo-entrada" type="number" id="idEquipe" placeholder="Digite o Id da sua equipe:">
                <input class="campo-entrada" type="text" placeholder="Digite o nome da sua equipe:">
                <label class="foto" for="foto-file">
                    Nenuma imagem selecionada...
                    <input  type="file" id="foto-file">
                </label>
                
                <button>Cadastro</button>
                
                
                
                <!-- <select class="equipeid" id="equipeid">
                    <option value="">Selecione uma Equipe</option>
                    <option value="x">Equipe X</option>
                    <option value="y">Equipe Y</option>
                </select> -->
            </form>

            <!-- TABELA CADASTRO DE EQUIPES -->

            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Foto</th>
                        <th>&spades;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Loud</td>
                        <td><img class="green-play" src="./assets/green-play.svg" alt=""></td>
                        <td><img class="yellow-trash" src="./assets/trash.png" alt=""></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Loud</td>
                        <td><img class="green-play" src="./assets/green-play.svg" alt=""></td>
                        <td><img class="yellow-trash" src="./assets/trash.png" alt=""></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Loud</td>
                        <td><img class="green-play" src="./assets/green-play.svg" alt=""></td>
                        <td><img class="yellow-trash" src="./assets/trash.png" alt=""></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

